<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvkwqmLMXyWOxldp3WCTRSorOrFoxPS6U</string>
	<key>GCM_SENDER_ID</key>
	<string>45773130674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rkhaira.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-599a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-599a3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45773130674:ios:e1eaf11959e706129932ab</string>
</dict>
</plist>